{{ define "main" }}
<main aria-role="main">
    <div>
        <div>
            {{- with .Site.Params.profilePicture }}
            <image src="{{.}}" alt="Profile picture" position="right" style="border-radius: 8px; width: 30%; margin-left: auto; margin-right: auto" />
            {{- end }}

            <h1 style="display: block;">{{ .Site.Title }}</h1>
        </div>

        {{- with .Site.Params.homeSubtitle }}
        <p>{{.}}</p>
        {{- end }}

        {{- with .Site.Params.social }}
        <div>
            {{ partial "social-icons.html" . }}
        </div>
        {{- end }}
    </div>
</main>
{{ end }}